.board {
  display: flex;
  flex-direction: column;
  margin: 0 0 5px 0;
}

.row {
  display: flex;
}

.cell {
  height: 30px;
  width: 30px;
  border: solid 0.5px;
  cursor: pointer;
  font-size: 27px;
  text-align: center;
  background-color: none;
  margin: 1px;
}

.cell:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.reset {
  margin: 5px 0;
}

#message {
  min-height: 18px;
}